name: CI

on:
  push:
  workflow_dispatch:

jobs:
  test-and-simulate:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e "."
          pip install pytest pytest-asyncio

      - name: Run Unit Tests
        run: |
          pytest --junitxml=test-results.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: "test-results.xml"

      - name: Run Simulation
        run: |
          python scripts/simulate_game.py
